.dark-primary-color
    background #616161

.default-primary-color
    background #9E9E9E

.light-primary-color
    background #F5F5F5

.text-primary-color
    color #212121

.accent-color
    background #448AFF

.primary-text-color
    color #212121

.light-primary-text-color
    color #F5F5F5

.secondary-text-color
    color #C3C3C3

.accent-text-color
    color #448AFF

.divider-color
    border-color #BDBDBD