doctype html
html(lang='en')
  head
    title Everton Football Club
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='normalize.css', rel='stylesheet')
    link(href='main.css', rel='stylesheet')
    link(href='palette.css', rel='stylesheet')
    script(src='https://gitcdn.link/repo/freeCodeCamp/testable-projects-fcc/master/build/bundle.js', type='text/javascript')
  body
    #main
      h1#title Everton Football Club
      #img-div
        img#image(src='#')
        p#img-caption lorem ipsum 
      div#tribute-info
        p lkfaj;sldkjf;alsdkfsdlkafj;laksdjflask
        p fa;sldkfj;laskdjf;alskdfj;laksdjflask
        p alkdfj;alksdjf;laksjdf;laksdj
        a(href='#' target='_blank')#tribute-link Get more info 